/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de la página */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

.header {
    min-height: 80px;
    max-height: 90px;
    background-color: #ff4d4d;
    /* Color rojo */
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Acomodar el logo y el texto al lado */
.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 1.4rem;
    margin-left: 1rem;
}

.logo img {
    width: 100px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 1.5rem;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Cuando se pasa el mouse sobre el link */
.navbar ul li a:hover {
    background-color: #28a745;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/bannerprincipal.jpg') center/cover no-repeat;
    color: white;
    padding: 4rem 2rem;
    text-align: center;
}

.banner h2 {
    font-size: 2.5rem;
}

.banner p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.btn {
    display: inline-block;
    background-color: #28a745;
    /* Verde */
    color: white;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

/* cuando se pasa el mouse sobre el boton */
.btn:hover {
    background-color: #1f8436;
}

.about,
.products,
.contact {
    padding: 4rem 2rem;
    text-align: center;
}

.products .product-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.product-item {
    background-color: #ffebeb;
    padding: 1rem;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-item h3 {
    color: #ff4d4d;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.contact label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    display: block;
    width: 100%;
    padding: 0.7rem;
    background-color: #ff4d4d;
    /* Rojo */
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}